:root {
  --black: #131313;
  --blue-secondary: #266de2;
  --light-blue: #53cbfb;
  --gray: #f8f8ff;
}
.main-section.container {
  padding: 30px;
}
.profile-picture {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin-right: 20px;
}
.main-section.container .body {
  display: flex;
}
.aboutme {
  font-weight: 500;
  color: #333;
  text-align: left;
}
.aboutme a {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue-secondary);
}
.aboutme a:hover {
  color: var(--light-blue);
}
span {
  padding: 5px;
}
.main-section {
  background-color: var(--gray);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  .main-section Container {
    padding: 10px;
  }

  .profile-picture {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .main-section .body {
    flex-direction: column;
    align-items: center;
  }

  .aboutme {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}
