.skills-title {
  text-align: center;
  color: var(--black);
  border-radius: 5px;
}
.skill-list {
  font-size: 1em;
  font-weight: bold;
}
.skill-box {
  background-color: var(--gray);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.cv-button {
  background-color: var(--dark-blue);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.skill-logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.skill-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
}
figcaption {
  display: block;
  margin: 10px;
}
