:root {
  --black: #040404;
  --blue-secondary: #0443f2;
  --light-blue: #53cbfb;
  --gray: #cecece;
  --white: #ffffff;
  --details-button: #bebebe;
}
.project-header {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}
.project-ss {
  padding: 10px;
}
.project-ss-mobile {
  width: auto;
  height: 150px;
  padding: 10px;
}
.page-title {
  text-align: center;
  color: var(--white);
  background-color: var(--blue-secondary);
  border-radius: 5px;
}

.grid__item {
  padding: 10px;
  background-color: var(--gray);
}
.project-button {
  padding: 10px;
  text-align: center;
  margin: 10px;
}
.details-button {
  background-color: var(--details-button);
  color: var(--black);
  size: small;
  border-radius: 5px;
  text-align: center;
}
