.contact-title {
  text-align: center;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 5px;
}
.contact-info {
  text-align: center;
  color: var(--black);
  padding: 10px;
  background-color: var(--gray);
  margin: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.contact-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--black);
  background-color: var(--gray);
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--black);
}
@media (max-width: 768px) {
  .contact-form {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .contact-form {
    width: 90%;
  }
}
.submit {
  margin: 10px;
}
.input1 {
  background-color: var(--dark-blue);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.form-item {
  margin: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: var(--white);
  padding: 5px;
  width: 100%;
}
