:root {
  --black: #040404;
  --blue-secondary: #0443f2;
  --light-blue: #53cbfb;
  --gray: #cecece;
  --white: #ffffff;
}
.logo {
  height: 70px;
  width: 70px;
  padding: 10px;
}
.navbar-item {
  padding: 10px;
  color: var(--white);
}
.navbar {
  background-color: var(--black);
  margin-bottom: 20px;
  border-radius: 10px;
  opacity: 0.9;
}
.navbar-item {
  color: var(--white);
}
.navbar-item:hover {
  color: var(--light-blue);
}
.navbar-item:active {
  color: var(--blue-secondary);
}
.navbar-item:visited {
  color: var(--white);
}
