.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-card {
  margin: 0 20px;
}

.card-container {
  display: flex;
  transform: translateX(calc(-100% * var(--active-index)));
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
}

.cards {
  background-color: var(--gray);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: var(--black);
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project-img {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}
.card-title {
  margin: 20px;
  padding: 10px 20px;
  font-size: 24px;
}
.card-description {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.card-details {
  margin: 20px;
  padding: 10px 20px;
  font-size: 14px;
}

.card-buttons a,
.card-buttons button {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  background-color: var(--blue-secondary);
  width: 50%;
}
.card-buttons a:hover,
.card-buttons button:hover {
  background-color: var(--blue);
  color: var(--gray);
}
@media screen and (max-width: 768px) {
  .card-buttons a,
  .card-buttons button {
    width: 100%;
  }
}
